.us {
    max-width: 1440;
    height: 75px;
    background-color: #FADF00;
    margin-top: 81px;
}

.us .container {
    max-width: 1200px;
    margin: 0 auto;
}

.us__text {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    font-family: "Circe", sans-serif;
    padding-top: 25px;
}