.card{
    width: calc(33% - 9px);
    background: grey;
    padding: 0 27px 36px 29px;
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}