section {
  margin-top: 13rem;
}

.section__open {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Circe;
  font-size: 30px;
  font-weight: 700;
  line-height: 44.22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.section__right img {
  width: 1000px;
  height: 580px;
}

.section__left__p {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 37px;
}

.section_left_end {
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.64px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: gray;
  margin-top: 150px;
}