@media (width<1000px){
    .container{
        width: 800px;
    }
    .search__card__text {
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
}
@media (width<800px){
    .container{
        width: 600px;
    }
    .search__card__text {
        h3{
            font-size: 13px;
        }
        p{
            font-size: 9px;
        }
        button{
            font-size: 9px;
        }
    }
    .search__top__socials{
        li img{
            width: 20px;
        }
    }
}

@media (width<600px){
    .container{
        width: 400px;
    }
}

@media (width<400px){
    .container{
        width: 200px;
    }
}
