
.footer .footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    margin-top: 48px;
}

.footer__top__left {
    padding-right: 248px;
    padding-left: 105px;
    padding-top: 15px;
}

.footer__top__left__name {
    font-family: "Circe", sans-serif;
}

.footer__top__left__nav {
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    color: #8d8d8d;
    font-family: "Circe", sans-serif;
    font-size: 16px;
}

.footer__top__center {
    padding-right: 248px;
    padding-top: 14px;
}

.footer__top__center__nav {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    color: #8d8d8d;
    font-family: "Circe", sans-serif;
    font-size: 14px;
}

.footer__top__center__nav__li a {
    color: #8d8d8d;
}

.footer__top__right {
    padding-top: 15px;
}

.footer__top__right__name {
    font-family: "Circe", sans-serif;
}

.footer__top__right__nav {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-top: 21px;
    color: #8d8d8d;
    font-family: "Circe", sans-serif;
    font-size: 14px;
}

.footer__center__line {
    width: 1200px;
    height: 1px;
    margin-top: 40px;
    background-color: #bdbdbd;
}


.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-family: Circe;
        font-size: 20px;
        font-weight: 700;
        line-height: 29.48px;
        text-align: left;
    }

    .ul-1 {
        font-family: Circe;
        font-size: 20px;
        font-weight: 400;
        line-height: 29.48px;
        text-align: left;
    }

    .ul_2 {
        font-family: Circe;
        font-size: 20px;
        font-weight: 400;
        line-height: 29.48px;
        text-align: left;
    }

    li {
        font-family: Circe;
        font-size: 20px;
        font-weight: 400;
        line-height: 29.48px;
        text-align: left;
    }
}

.line {
    width: 1400px;
    height: 0px;
    top: 212px;
    left: 2px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #BDBDBD;
    margin-top: 17px;
}
.footer__end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}
.footer_right{
    display: flex;
    gap: 10px;
}

